  body
        {
                background-color: #C1C1C1;
                margin:0 auto;

                font-size: 100%;
                font-family: "Times New Roman", Times, monospace;
                letter-spacing: 0.15em;
 

        }

        .toplink
        {
             color: #8E8E8E;
         text-transform: uppercase;
         text-decoration: none;
         padding: 12px 36px 8px 36px;
        }
        .toplink:hover
        {
            color: #ffffff;
         background-color: #8E8E8E; 
        }
        div
        {
                width: 85%;
                margin: 0 auto;
                text-align: center;

        }

        #grid
        {
                padding: left;
                overflow: auto;
                padding-bottom: 20px;
        }

        #toplist
        {
        border-top: 2px solid #8E8E8E;
        border-bottom: 1px solid #8E8E8E;
        margin: 0px auto 0px auto;
        padding: 12px;
 +      background-color: #ffffff;


        }
        #box {
            text-align: center;
        }
        .column1, .column2,.column3
        {
                width: 31.3%;
                float: left;
                margin: 1%;
        }

        .column{
            margin-right: 3%;
        }
        .gallery
        {

                opacity: .5;
                margin-right: 0%;

        }

         a {
         color: #8E8E8E;
         text-transform: uppercase;
         text-decoration: none;
         padding: 12px 36px 8px 36px;
         }
         a:hover{
         color: #ffffff;
         background-color: #8E8E8E;
        }

        .gallery:hover
        {
                opacity: 1;
                min-width: 20%;
                min-height: 20%;
        }

        #top
        {
                font-size: 120%;
                background-color: #B7B7B7;
                text-transform: uppercase;
                width:90%;
                margin-left: auto;
                margin-right: auto;
                padding-top: 20px;

        }

        li
        {
                display: inline;
                padding:.5em;

        }
        #bottom
        {

                background-color: #B7B7B7;
                float: bottom;
                width: 90%;
                margin-right: auto;
                margin-left: auto;
                padding-top: 20px;


        }
